.venv/
__pycache__/
**/__pycache__/
*.pyc

# Ignorar arquivos gerados (mas manter as pastas)
data/raw/*
data/processed/*

# Permitir placeholders para versionar as pastas
!data/raw/.gitkeep
!data/processed/.gitkeep